@import '@/styles/_colors.scss';
@import '@/styles/_variables.scss';

.content {
  width: 95%;
  max-width: 60rem;
  margin: $size-8 auto;
  font-size: $size-5;
  line-height: $size-8;
  background-color: $color-grey-100;
  border-radius: 6px;
  padding: $size-8;

  @media (max-width: 768px) {
    padding: $size-4;
  }

  p {
    color: $color-grey-800
  }

  .image {
    position: relative;
    margin: $size-4 auto;
    width: 100%;
    max-width: 600px;
    height: 300px;

    @media (max-width: 576px) {
      height: 230px;
    }

    img {
      object-fit: cover;
      object-position: center top;
    }

  }
}
